

.rectangle{
    position: absolute;
    bottom: 40px;
    right: 40px;
    /* border: 1px solid black; */
    width: 500px;
    height: auto;
    z-index: 21;
    padding: 30px;
    margin-right: 8rem;
}

.minus-margin{
    margin-left: -80px;
}

@media only screen and  (max-width: 600px){
    .rectangle{
        right: 0;
        bottom: 80px;
        width: 50vw;
        height: 50vh;
        margin-right: 2rem;
        padding: 0;
    }
    .minus-margin{
        margin-left: -50px;
    }
   
}

@media only screen and (min-width: 600px) and (max-width: 768px){
     .rectangle{
        right: 0;
        bottom: 80px;
        width: 50vw;
        height: 50vh;
        margin-right: 2rem;
        padding: 0;
     }
}

@media only screen and (min-width: 769px) and (max-width: 1200px){
    .rectangle{
        right: 0;
        bottom: 80px;
        width: 50vw;
        height: 50vh;
        margin-right: 2rem;
        padding: 0;
     }
} 