.w-name{
   width: 80%;
}


.main-font-name {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    opacity: 0.8;
    color: #c9c9c9;
   
  }
  .text-name{
    font-family: "Cutive Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    /* opacity: 0.8; */
    color: #c9c9c9;
  }

@media only screen and  (max-width: 600px) {
    h1.main-font-name{
        font-size: 20px;
    }
    div.text-name{
        font-size: 10px;
    }
  } 

  @media only screen and (min-width: 600px) and (max-width: 768px) {
    h1.main-font-name{
      font-size: 20px;
  }
  p.text-name{
      font-size: 12px;
  }
  };


