@font-face {
  font-family: "CustomFont";
  src: url("./Gothic60-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "CustomFont-Light";
    src: url("./Fedro-Light.otf") format("opentype");
    font-weight: light;
    font-style: normal;
  }

  @font-face {
    font-family: "CustomFont-Light-Italic";
    src: url("./Fedro-LightItalic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: "WildWorld";
    src: url("./WILD WORLD.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: "PPGatwick-Bold";
    src: url("./PPGatwick-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "PPGatwick-Light";
    src: url("./PPGatwick-Ultralight.otf") format("opentype");
    font-weight: lighter;
    font-style: normal;
  }
  