.contact{
    width: auto;
    height: auto;
}

.contact_button{
    display: block;
    width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    background-color: rgb(0,0,0,0.6);
}

.contact_button:hover{
    background-color: black;
    cursor:crosshair;
    transition: .4s ease-out;
}

