.rel {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 8;
}

.cont {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.opac {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
  border-top: 1px solid #c3c3c3;
  background-color: #dedede;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(3px);
  background-color: rgba(222, 222, 222, 0.3);
}
.opac-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
  border-bottom: 1px solid #c3c3c3;
  background-color: #dedede;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(3px);
  background-color: rgba(222, 222, 222, 0.3);
}

.abs {
  position: absolute;
  right: 8rem;
  bottom: 0;
  z-index: 0;
  height: 100vh;
  width: 40vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;

}


/* for Chrome, Safari and Opera */
.classname::-webkit-scrollbar {
  display: none;
}


@media only screen and  (max-width: 600px) {
  .abs{
    right: 0;
    width: 50vw;
  }
  .abs.res{
    right: 2rem;
  }
} 

@media only screen and (min-width: 600px) and (max-width: 768px) {
  div.absolute{
    margin-left: 40px;
  }
  .abs{
    right: 0;
    width: 50vw;
  }
  .abs.res{
    right: 2rem;
  }
}


      