

.rec{
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    width: 95vw;
    height: 90vh;
    border: 1px solid black;
   overflow: hidden;
   background-color:#DEDEDE ;
}

.anim{
    position: absolute;
    top: -18%;
    left: -30%;
    width: 100%;
    height: 150%;
    border-radius: 50%;
    overflow: hidden;
    /* background-color: red; */
 

}
