/* .container_art {
  height: 180vh;




} */

.images {
  display: flex;
  width: 100%;
  justify-content: center;
}

.img_art {
  object-fit: fill;
  border-radius: 1%;
}

.art_text_container {
  height: auto;
  width: 40vh;
  z-index: 3;
  position: absolute;
  top: 80vh;
  background-color: #FFFF99;

}
.imageContainer:nth-of-type(1) {
  left: 0;
  top: 10rem;
  height: 20vh;
  width: 40vh;
  z-index: 3;
  position: absolute;
}
.imageContainer:nth-of-type(2) {
  right: 0;
  top: 10rem;
  height: 40vh;
  width: 60vh;
  z-index: 2;
  position: absolute;
}

.imageContainer:nth-of-type(3) {
  left: 0;
  bottom: 0;
  /* height: 25vh; */
  width: 45vh;
  z-index: 3;
  position: absolute;
}

.art_body {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: -2;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 50vh;
  height: 60vh;
}

.center_items {
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

