

.enter{
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color:#DEDEDE;
  animation: fadeOut 4s ease-out 2s;
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0.3;
  }
}




.enter p {
  font-size: large;
  text-align: center;
  margin-top: 50vh;
}