.container_art {
  min-height: 120vh;
  position: relative;
  background-color: #0D0D0D;
  z-index: -2;
  padding-top: 25vh;

}


.images {
  display: flex;
  width: 100%;
  justify-content: center;
}

.img_art {
  object-fit: fill;
  filter: brightness(50%);
  border-radius: 1%;
}

.art_text {
  height: auto;
  width: 60vh;
  z-index: 3;
  position: absolute;
  top: 50vh;
}
.imageContainer:nth-of-type(1) {


  display: none;
}
.imageContainer:nth-of-type(2) {
  right: 23rem;
  top: 20vh;
  height: 40vh;
  width: 60vh;
  z-index: 2;
  position: absolute;
}
.imageContainer:nth-of-type(3) {
  left: 23rem;
  top: 10vh;
  height: 25vh;
  width: 45vh;
  z-index: 3;
  position: absolute;
}

.art_body {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: -2;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 50vh;
  height: 60vh;
}

.center_items{
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

.span_word {
  position: relative;
}
