.high{
    position:sticky;
    height: 100vh;
    width: 50%;
    background-color: #4b5563;
    overflow: scroll;
 
}
  .margin_top_media{
    margin-top: 0rem;
  }

   .title:hover{

      cursor:crosshair;
      transition: .4s ease-out;
    
  } 
  .icons_media{
    width: 36x;
    height: 36px;
  }
   
  .shadow{
    display: block;
    position: absolute;
    z-index: -1;
  } 

  .u-hover--sparkle {
   
    box-sizing: border-box;
    position: relative;
    padding: 0.75em;
  }
  .u-hover--sparkle:hover{
    cursor:crosshair;
  }
    .u-hover--sparkle::before,
    .u-hover--sparkle::after {
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform-origin: center;
    }
  
    .u-hover--sparkle::before {
      border-top: 0.2em solid red;
      border-bottom: 0.2em solid red;
      transform: scale3d(0,1,1);
    }
  
    .u-hover--sparkle::after {
      border-left: 0.2em solid red;
      border-right: 0.2em solid red;
      transform: scale3d(1,0,1);
    }
  
    .u-hover--sparkle:hover::before,
    .u-hover--sparkle:hover::after {
      transform: scale3d(1,1,1);
      transition: transform 900ms;
    }
  


  @media only screen and (max-width: 600px) {
     a.title{
      font-size: 28px;
      margin-left: 0;
     }

     h1.text{
      margin-left: 0;
      font-size: 34px;
     }

     p.text{
      margin-left: 0;
     }

  }

  @media only screen and (min-width: 600px) and (max-width: 768px){
    a.title{
      font-size: 28px;
      margin-left: 15vw;
      width: 100%;
     }

     p.text{
      width: 100%;
      margin-left: 15vw;
     }

  
  }

