.high{
    position:sticky;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    background-color: #4b5563;
    overflow: scroll;
 
}

.almarai-light {
    font-family: "Almarai", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .almarai-regular {
    font-family: "Almarai", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .almarai-bold {
    font-family: "Almarai", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .almarai-extrabold {
    font-family: "Almarai", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  .test{
    width: 100%;
    height: 20%;
    background-color: aqua;
    border: 1px solid black;
  }

  .main-font {
    font-family: "Almarai", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 13px;
    opacity: 0.8;
   
  }

  .link-font{
    display: block;
    margin-bottom: 2rem;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 4rem;
    opacity: 0.8;
    
  }
  