.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.contact_main{
    /* background-color: #0F0F0F; */
    /* height: 50%; */
    background-color: transparent ;
}