


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    position: relative;
    height: 100vh;
    background-color: #D4D2CD;
    background-color: #EEEFEE;
 
    
    
    

}
 
html{
    height: 100vh;
    
}

#root{
    height: 100vh;
}

.text{
    font-family: "Roboto Mono", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    /* line-height: 80%; */
    color: black;
   
}

.title{
    /* font-family: "PPGatwick-Light", sans-serif; */
    font-family: "Roboto Mono", sans-serif;
    font-weight: 500;
    font-style: bold;
    font-size: 6.75rem;
    color: #3F3B37;
    letter-spacing: -4.5px;
    /* color: #FFFF99; */
 
   
  
    /* opacity: 0.7; */
    /* letter-spacing: -.05em; */
    line-height:80%;
    text-transform: uppercase;
}

@media only screen and  (max-width: 600px){
    .text{
        font-size: 14px;
        letter-spacing: normal;
        line-height: normal;
    }
    .title{
        font-size: 2rem;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px){
    .text{
        font-size: 14px;
        letter-spacing: normal;
        line-height: normal;
    }
    .title{
        font-size: 2rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px){
    .text{
        font-size: 14px;
        letter-spacing: normal;
        line-height: normal;
    }
    .title{
        font-size: 3rem;
    } 
}



@tailwind base;
@tailwind components;
@tailwind utilities;